

h1 {
	font-family: Verdana;
	font-weight: 46;
	color: navy;
    margin-left: 20px;
    height: 120px;
    width: 250px;
    font-family: 

}

#menu{
	display: inline-block
	height: 30px;
	width: 100%;
	top: 0px;
	background-color: 	#c70989;
	font-style: normal;
}

#menu span{
	margin-right: 15%;
	font-family: Verdana;
	font-weight: bold; 
	color: white;
	font-size: 23px;
}
#menu a{
	font-style: normal;
	color: white;
	font-family: Arial;
	font-size: 23px;
}

#menu input{
	border-radius: 15px;
	color: black;
	height: 24px;
	font-style: normal;

}


.main{
	top:0px;
	background: url("images\\background.jpg");
}

#avis {
	top: 200px;

}

#myCarousel .caoursel .slide{
	height: 490px;
	top: 0px;

}


.carousel-indicators ol{
height:30px;
bottom: 10px;

}

.carousel-caption p{
	font-size: 20px;
	font-family: verdana;
	font-style: italic;
}


.lista {

	color: #fff;
	object-position: center;
	font-size: 24px;
	width: 100%;
	background-color: silver;
	border-radius: 15%;
}

.lista ul{
		text-align: center;
		object-position: center;
		color: #000100;
		list-style-position: inside;
}

.lista h3{
	text-align: center;
	color: #8B3A3A;
	font-style: oblique;
}

.lista a{
	color: #000100;
}

.marco{
	bottom: 200px;
	background-image: url("images\\flowersbackground.png");
	font-family: "Goudy Bookletter 1911", sans-serif;
}

.marco h2{
	left:400px;
	color: #8B3A3A;
	text-align: center;
}

.marco span{
	margin-left: 5%;
	display: inline-block;
}

h5{
	font-weight: 800;
	font-size: 23px;
}
.p1{
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	height: 100px;
	width: 300px;
	display: inline-block;
	margin-bottom: 10px;
  	padding: 5px;
  	float:left;
}

.p2{
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 16px;
	color: #fff;
	height: 100px;
	width: 300px;
	display: inline-block;  
	margin-bottom: 10px;
  	padding: 5px;
  	float:left;

}
.p2 p{
	font-style: italic;
}

.p3{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 700;
	color: #fff;
	height: 100px;
	width: 300px;
	display: inline-block;
	margin-bottom: 10px;
  	padding: 5px;
  	float:left;
}

.grid-container {
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  padding: 10px;
  bottom: 200px;

}

.grid-item {
  height: 200px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 10px solid #A9A9A9;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}


