

h1 {
	font-family: Verdana;
	font-weight: 46;
	color: navy;
    margin-left: 20px;
    height: 120px;
    width: 250px;
    font-family: 

}

#menu{
	display: inline-block
	height: 30px;
	width: 100%;
	top: 0px;
	background-color: 	#c70989;
	font-style: normal;
}

#menu span{
	margin-right: 15%;
	font-family: Verdana;
	font-weight: bold; 
	color: white;
	font-size: 23px;
}
#menu a{
	font-style: normal;
	color: white;
	font-family: Arial;
	font-size: 23px;
}

#menu input{
	border-radius: 15px;
	color: black;
	height: 24px;
	font-style: normal;

}


.main{
	top:0px;
	background-color: darkgreen;
}

#avis {
	top: 200px;

}

#myCarousel .caoursel .slide{
	height: 490px;
	top: 0px;

}


.carousel-indicators ol{
height:30px;
bottom: 10px;

}

.carousel-caption p{
	font-size: 20px;
	font-family: verdana;
	font-style: italic;
}


.lista {

	color: #fff;
	object-position: center;
	font-size: 24px;
	width: 100%;
	background-color: silver;
}

.lista ul{
		text-align: center;
		object-position: center;
		color: #000100;
		list-style-position: inside;
}

.lista h3{
	text-align: center;
	color: #8B3A3A;
	font-style: oblique;
}

.lista a{
	color: #000100;
}

.marco{
	bottom: 200px;
	background-color: #090974;
	font-family: "Goudy Bookletter 1911", sans-serif;
}

.marco h2{
	left:400px;
	color: #ffffff;
	text-align: center;
}

.p1{
	color: rgb(255, 0, 65);
	font-size: 13px;
	height: 100px;
	width: 200px;
	left:300px;
}

.p2{
	font-family: 'Roboto', sans-serif;
	color: 	#ffffff;
	height: 60px;
	width: 200px;
	left: 600px;
	background-color: #ffbf00;  

}

.grid-container {
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  padding: 10px;
  bottom: 200px;

}

.grid-item {
  height: 200px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 10px solid #A9A9A9;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

.avis{
	bottom: 20px;

}